body{
	background: rgb(255, 255, 255); 
	font-family: Verdana; 
	font-size: 13px; 
	color: black; 
	margin: 0px
}

h1{
	text-align: center
}

#wrapper{
	margin: auto; 
	position: relative; 
	width: 900px;
	min-height: 300px;
}

#header{
	
}

.clanek{
	width: 100%;
	border: 1px black solid;
	border-radius: 5px;
	margin-top: 20px;
	padding: 5px;
}

.kategorie{
	width: 40%;
	margin: 4%;
	float:left;
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #D3CDCD;
}

.kategorie h2{
	margin-top: 20px;
	margin-bottom: 20px;
}

form{
	width: 100%;
	padding: 10px;
}

form input{
	border-radius: 3px;
	width: 100px;
}

form input[type=text]{
	width: 500px;
}

a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

a.visited{
	color: black;
}